body {

    color: #f7f7f7;
  }
.jumbotron {
  background-image: url("../images/nasa.jpg");
  background-size: 100% 100%;
  text-align: center;
}
.btn {
    border: 2px solid white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  form {
    overflow: hidden;
  }
  input {
    float: right;
    clear: both;
  }